Django>=4.2,<6.0
gunicorn
psycopg2-binary
djangorestframework
django-cors-headers
django-environ
djangorestframework-simplejwt
google-auth
google-api-python-client
whitenoise
cloudinary
django-cloudinary-storage
boto3
django-storages
razorpay
stripe
Pillow
